<div fxLayout="row" fxLayoutAlign="space-between none" style="height: 100%;">
  <div fxFlex="20">
    <mat-list>
      <div mat-subheader>Dashboard</div>
      
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>dashboard</div>
      </mat-list-item>
      
      <mat-divider></mat-divider>
      
      <div mat-subheader>Projects</div>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>Request</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>Request</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>Request</div>
      </mat-list-item>
      
      <mat-divider></mat-divider>
      
      <div mat-subheader>Ratings</div>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>Request</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>Request</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>Request</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex>mail</div>
</div>
