<div fxLayout="row" fxLayoutAlign="space-between none" style="height: 100%;">
  
  <div fxFlex="20" class="side-nav">
    <mat-selection-list [multiple]="false">
      <div mat-subheader>Dashboard</div>

      <mat-list-option>
        <mat-icon mat-list-icon>assessment</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <div mat-subheader>Paket Pengadaan</div>
      <mat-list-option>
        <mat-icon mat-list-icon>note_add</mat-icon>
        <div mat-line>Permintaan</div>
      </mat-list-option>
      <mat-list-option>
        <mat-icon mat-list-icon>assignment</mat-icon>
        <div mat-line>Berlangsung</div>
      </mat-list-option>
      <mat-list-option>
        <mat-icon mat-list-icon>star_rate</mat-icon>
        <div mat-line>Rating</div>
      </mat-list-option>

      <mat-divider></mat-divider>

      <div mat-subheader>Profil</div>
      <mat-list-option>
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>UKPBJ</div>
      </mat-list-option>
      <mat-list-option>
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>PPK</div>
      </mat-list-option>
      <mat-list-option>
        <mat-icon mat-list-icon>groups</mat-icon>
        <div mat-line>PP</div>
      </mat-list-option>
    </mat-selection-list>

  </div>
  <div fxFlex>mail</div>
</div>
